:root {
  --border: rgb(3, 169, 244);
  
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/5f14883f91fad98f811abc7c_metropolis-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gothic';
    src: url('../fonts/5f14883fd13f498c2fb03e13_TitlingGothicFBExtended-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }


/* Default */
:root {
  --scrollpos: 0;
}
h1, h3 {
  font-family: Gothic, sans-serif;
  color: #fff;
  margin: 0px;
}


html {
  scroll-behavior:smooth;
}

body {
  background:            linear-gradient(to left top, rgb(1, 1, 49), rgb(58, 0, 0));
  background-attachment: fixed; /*edit*/
  color: rgb(202, 202, 202);
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: grid;
  height: 100vh;
  place-items: center;
}

a:link{
  text-decoration: none!important;
}




/* Id */
#grad {
  background-image: linear-gradient(to bottom right, blue, purple);
}

#name {
  text-align: center;
  margin-top: 15%;
  font-weight: bold;
}

#btnScroll {
  display: none; /* Hidden by default */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  opacity: 0.5;
}

#btnScroll:hover {
  opacity: 1;
}

#btnSectiom {
  position: fixed;

}




/* Classes */
* {
    font-family: MetroPolis , sans-serif;
    color: rgb(163, 163, 163);
}

.section {
  margin-top: 20%;
}

.btnContainer {
  position: fixed;
  top: 40%;
  left: 96%;
}

.btnScroll {
  width: 200px; 
  z-index: 10; 
  position: fixed; 
  left: 20px; 
  bottom: 20px; 
  height: 60px; 
  width: 60px;
}

.btnSection {
  height: 1.5%;
  width: 1.5%;
  scale: 100%;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  opacity: 0.5;
  transition: 0.3s;
}

.btnSection:hover {
  scale: 70%;
}

/* Hide Scrollbar */
.container, .container-fluid {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.container-fluid::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 300px;
}
.gallery img:hover {
  filter: grayscale();
  transform: scale(1.1);
}

.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(50%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }



.card {
  aspect-ratio: 8 / 1;
  border: 0.5vmin solid var(--border);
  cursor: pointer;
  position: relative;
  width: 56vmin;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.card:hover > .card-content {
  background-position: -10% 0%;
}

.card:hover > .card-icon {
  color: white; 
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word {  
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--g1) 66%, 
    var(--g2) 83.5%, 
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.card-content {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: calc(100% - 10vmin);
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100% - 10vmin);
  z-index: 2;
}

.card-title,
.card-subtitle {
  color: white;
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.card-title {
  font-size: 6vmin;
}

.card-subtitle {
  font-size: 3vmin;
  margin-top: 2vmin;
}

.card-subtitle-word {
  display: inline-block;
  margin: 0vmin 0.3vmin;
  opacity: 0;
  position: relative;  
  transform: translateY(40%);
  transition: none;
}
